apiVersion: v1
kind: Service
metadata:
  namespace: default
  name: infra-logo-service
  labels:
    app: infra-logo
spec:
  type: ClusterIP
  selector:
    app: infra-logo
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
